/* out of box style style */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* default style */
.cards.default > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.cards.default > ul > li {
  border: 1px solid #dadada;
  background-color: #E9ECEF;
}

.cards.default .cards-card-body {
  margin: 16px;
  position: relative;
}

.cards.default .cards-card-image {
  line-height: 0;
  width: 100%;
  height: 100%;
  max-width: 454px;
  max-height: 303px;
  position: relative;
}

.cards.default .cards-card-body .button-container > a{
  padding: 8px 16px;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white, #FFF);
  border-radius: 4.8px;
  border-color: var(--white);
  background: var(--coral-coral-800, #B95A55);
}

.cards.default > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-width: 454px;
  max-height: 303px;
}

@media (width <= 834px){
  .cards.default > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }

  .cards.default .cards-card-image {
    line-height: 0;
    width: 100%;
    height: 100%;
    max-width: 834px;
    max-height: 303px;
    position: relative;
  }

  .cards.default > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    max-height: 303px;
    max-width: 834px;
  }
}

/* cascading style */
.cards.cascading > ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  padding: 20px 0 0 16px;
  align-items: flex-end;
  align-self: stretch;
  background: linear-gradient(309deg, #BADDBA 17.21%, #273A25 70.96%);
  height: auto;
}

 /* first card */
.cards.cascading > ul > li:first-child {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  background: transparent;
  border: transparent;
  width: auto;
  height: auto;
  max-height: 377px;
  max-width: 238px;
  margin-top: auto;
}

.cards.cascading > ul > li:first-child > picture {
  width: 100px;
  height: 77.883px;
  flex-shrink: 0;
}

.cards.cascading > ul > li:first-child > .cards-card-body > h4{
  color: var(--white, #FFF);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 176.8px;
  margin: 0;
}

.cards.cascading .cards-card-body {
  margin: 16px;
  position: relative;
  height: auto;
}

.cards.cascading > ul > li:first-child > .cards-card-body{
  color: var(--white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

 /* second card */
.cards.cascading > ul > li:nth-child(2) {
  border: 1px solid #dadada;
  display: flex;
  width: auto;
  max-width: 222px;
  height: 409px;
  padding: 16px 16px 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px 12px 0 0;
  background: var(--white);
  margin-top: auto;
}

 /* third card */
.cards.cascading > ul > li:nth-child(3) {
  border: 1px solid #dadada;
  display: flex;
  width: auto;
  max-width: 222px;
  height: 369px;
  padding: 16px 16px 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px 12px 0 0;
  background: var(--white);
  margin-top: auto;
}

 /* fourth card */
.cards.cascading > ul > li:nth-child(4) {
  border: 1px solid #dadada;
  display: flex;
  width: auto;
  max-width: 222px;
  height: 329px;
  padding: 16px 16px 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px 12px 0 0;
  background: var(--white);
  margin-top: auto;
}

 /* fifth card */
.cards.cascading > ul > li:nth-child(5) {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 254px;
  height: 289px;
  align-items: center;
  position: relative;
  background-color: var(--white);
  border-radius: 12px 12px 0 0;
  margin-top: auto;
}

.cards.cascading > ul > li:nth-child(2) > picture,
.cards.cascading > ul > li:nth-child(3) > picture,
.cards.cascading > ul > li:nth-child(4) > picture,
.cards.cascading > ul > li:nth-child(5) > picture{
  display: flex;
  width: 100px;
  height: 64.482px;
  flex-shrink: 0;
  padding: 20px 0 19.054px;
  object-fit: cover;
  position: relative;
}

.cards.cascading > ul > li:nth-child(2) > .cards-card-body > h4,
.cards.cascading > ul > li:nth-child(3) > .cards-card-body > h4,
.cards.cascading > ul > li:nth-child(4) > .cards-card-body > h4,
.cards.cascading > ul > li:nth-child(5) > .cards-card-body > h4{
  color: var(--coral-coral-800, #B95A55);
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.cards.cascading > ul > li:nth-child(2) > .cards-card-body,
.cards.cascading > ul > li:nth-child(3) > .cards-card-body,
.cards.cascading > ul > li:nth-child(4) > .cards-card-body,
.cards.cascading > ul > li:nth-child(5) > .cards-card-body{
  align-self: stretch;
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* arrow */
.cards.cascading > ul > li:first-child > .cards-card-body:nth-child(3){
  width: 238px;
  height: 79.475px;
  background-image: url('../../images/arrowdesktop.png');
  background-size: cover; 
  background-position: center;
}

.cards.cascading .cards-card-image {
  line-height: 0;
  width: 100%;
  height: 100%;
  max-width: 454px;
  max-height: 303px;
  position: relative;
}

.cards.cascading .cards-card-body .button-container > a{
  padding: 8px 16px;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white, #FFF);
  border-radius: 4.8px;
  border-color: var(--white);
  background: var(--coral-coral-800, #B95A55);
}

.cards.cascading > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: none;
  max-width: 454px;
  max-height: 303px;
}

@media (width <= 1113px){
  /* cascading style */
  .cards.cascading > ul {
    display: flex;
    width: auto;
    padding: 24px 16px 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(315deg, #BADDBA 15.79%, #273A25 65.37%);
  }

  /* first card */
  .cards.cascading > ul > li:first-child {
    display: flex;
    padding: 0 16px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    align-self: stretch;
    height: auto;
    width: auto;
    margin-top: auto;
  }

  .cards.cascading > ul > li:first-child > picture {
    width: 100px;
    height: 77.883px;
    flex-shrink: 0;
  }

  .cards.cascading > ul > li:first-child > .cards-card-body > h4{
    color: var(--white, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: auto;
    margin: 0;
  }

  .cards.cascading .cards-card-body {
    margin: 16px;
    position: relative;
  }
  
  .cards.cascading > ul > li:first-child > .cards-card-body{
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* second card */
  .cards.cascading > ul > li:nth-child(2) {
    border: 1px solid #dadada;
    display: flex;
    height: auto;
    width: auto;
    max-width: 359px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 0 12px 12px 0;
    background: var(--white);
    margin-bottom: 10px;
  }

  /* third card */
  .cards.cascading > ul > li:nth-child(3) {
    border: 1px solid #dadada;
    display: flex;
    height: auto;
    width: auto;
    max-width: 319px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 0 12px 12px 0;
    background: var(--white);
    margin-bottom: 10px;
  }

  /* fourth card */
  .cards.cascading > ul > li:nth-child(4) {
    border: 1px solid #dadada;
    display: flex;
    height: auto;
    width: auto;
    max-width: 279px;
    padding: 16px 16px 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 0 12px 12px 0;
    background: var(--white);
    margin-bottom: 10px;
  }

  /* fifth card */
  .cards.cascading > ul > li:nth-child(5) {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 239px;
    align-items: center;
    position: relative;
    background-color: var(--white);
    border-radius: 0 12px 12px 0;
    margin-bottom: 10px;
  }

  .cards.cascading > ul > li:nth-child(2) > picture,
  .cards.cascading > ul > li:nth-child(3) > picture,
  .cards.cascading > ul > li:nth-child(4) > picture,
  .cards.cascading > ul > li:nth-child(5) > picture{
    display: flex;
    width: 100px;
    height: 64.482px;
    flex-shrink: 0;
    padding: 20px 0 19.054px;
    object-fit: cover;
    position: relative;
  }

  .cards.cascading > ul > li:nth-child(2) > .cards-card-body > h4,
  .cards.cascading > ul > li:nth-child(3) > .cards-card-body > h4,
  .cards.cascading > ul > li:nth-child(4) > .cards-card-body > h4,
  .cards.cascading > ul > li:nth-child(5) > .cards-card-body > h4{
    color: var(--coral-coral-800, #B95A55);
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .cards.cascading > ul > li:nth-child(2) > .cards-card-body,
  .cards.cascading > ul > li:nth-child(3) > .cards-card-body,
  .cards.cascading > ul > li:nth-child(4) > .cards-card-body,
  .cards.cascading > ul > li:nth-child(5) > .cards-card-body{
    align-self: stretch;
    color: var(--black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }

  /* arrow */
  .cards.cascading > ul > li:first-child > .cards-card-body:nth-child(3){
    max-width: 90.661px;
    max-height: 79.47px;
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    background-image: url('../../images/arrowmobile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cards.cascading .cards-card-image {
    line-height: 0;
    width: 100%;
    height: 100%;
    max-width: 454px;
    max-height: 303px;
    position: relative;
  }

  .cards.cascading .cards-card-body .button-container > a{
    padding: 8px 16px;
    gap: 8px;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white, #FFF);
    border-radius: 4.8px;
    border-color: var(--white);
    background: var(--coral-coral-800, #B95A55);
  }

  .cards.cascading > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: none;
    max-width: 454px;
    max-height: 303px;
  }
}