/* out of box style style */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* default style */
.cards.default > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.cards.default > ul > li {
  border: 1px solid #dadada;
  background-color: #E9ECEF;
}

.cards.default .cards-card-body {
  margin: 16px;
  position: relative;
}

.cards.default .cards-card-image {
  line-height: 0;
  width: 100%;
  height: 100%;
  max-width: 454px;
  max-height: 303px;
  position: relative;
}

.cards.default .cards-card-body .button-container > a{
  padding: 8px 16px;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white, #FFF);
  border-radius: 4.8px;
  border-color: var(--white);
  background: var(--coral-coral-800, #B95A55);
}

.cards.default > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-width: 454px;
  max-height: 303px;
}

@media (width <= 834px){
  .cards.default > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }

  .cards.default .cards-card-image {
    line-height: 0;
    width: 100%;
    height: 100%;
    max-width: 834px;
    max-height: 303px;
    position: relative;
  }

  .cards.default > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    max-height: 303px;
    max-width: 834px;
  }
}

/* cascading style */
.cards.cascading > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
}

.cards.cascading > ul > li {
  border: 1px solid #dadada;
  background-color: red;
}

.cards.cascading .cards-card-body {
  margin: 16px;
  position: relative;
}

.cards.cascading .cards-card-image {
  line-height: 0;
  width: 100%;
  height: 100%;
  max-width: 454px;
  max-height: 303px;
  position: relative;
}

.cards.cascading .cards-card-body .button-container > a{
  padding: 8px 16px;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white, #FFF);
  border-radius: 4.8px;
  border-color: var(--white);
  background: var(--coral-coral-800, #B95A55);
}

.cards.cascading > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-width: 454px;
  max-height: 303px;
}

@media (width <= 834px){
  .cards.cascading > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }

  .cards.cascading .cards-card-image {
    line-height: 0;
    width: 100%;
    height: 100%;
    max-width: 834px;
    max-height: 303px;
    position: relative;
  }

  .cards.cascading > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    max-height: 303px;
    max-width: 834px;
  }
}