/* out of box style style */
.cards-container{
  padding: 0;
}

.cards > ul {
  display: flex;
  padding-bottom: 8px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.cards > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  max-height: 170px;
}

.cards > ul> li:not(:last-child) {
  border-right: 2px dotted var(--light-green);

}

.cards .cards-card-body {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.cards .cards-card-image {
  width: 100px;
  height: 86.939px;
  flex-shrink: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: contain;
}

@media (width <= 834px){
  .cards > ul {
    display: flex;
    padding-bottom: 8px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }

  .cards > ul > li {
    display: flex;
    width: 267.5px;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .cards > ul> li:not(:last-child) {
    border-bottom: 2px dotted var(--light-green);
    border-right: transparent;
  
  }

  .cards .cards-card-body {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  .cards .cards-card-image {
    width: 100px;
    height: 86.939px;
    flex-shrink: 0;
  }
  
  .cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
  }
}

/* default style */
.cards.default > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  align-items: stretch;
}

.cards.default > ul > li {
  border: 1px solid #dadada;
  background-color: #E9ECEF;
  display: block;
  max-height: 100%;
}

.cards.default .cards-card-body{
  position: relative;
  text-align: left;
  align-items: left;
  margin: 16px;
}

.cards.default .cards-card-body h4,
.cards.default .cards-card-body p {
  margin: 0;
}

.cards.default .cards-card-image {
  line-height: 0;
  width: 100%;
  height: 100%;
  max-width: 454px;
  max-height: 303px;
  position: relative;
}

.cards.default .cards-card-body .button-container > a{
  padding: 8px 16px;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white, #FFF);
  border-radius: 4.8px;
  border-color: var(--white);
  background: var(--coral-coral-800, #B95A55);
}

.cards.default > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-width: 454px;
  max-height: 303px;
}

@media (width <= 834px){
  .cards.default > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }

  .cards.default > ul > li {
    border: 1px solid #dadada;
    background-color: #E9ECEF;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
  }

  .cards.default .cards-card-body{
    position: relative;
    text-align: left;
    align-items: left;
    margin: 16px;
  }

  .cards.default .cards-card-image {
    line-height: 0;
    width: 100%;
    height: 100%;
    max-width: 834px;
    max-height: 303px;
    position: relative;
  }

  .cards.default .cards-card-body h4,
  .cards.default .cards-card-body p {
    margin: 0;
  }
  
  .cards.default > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    max-height: 303px;
    max-width: 834px;
  }
}

.cards.cascading > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: none;
  max-width: 454px;
  max-height: 303px;
}

/* management style */
.cards.management{
  max-width: 1334PX;
  max-height: 462px;
  padding: 0 16px 24px;
}

.cards.management > ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  align-items: stretch;
}

.cards.management > ul > li{ 
  max-width: 423px;
  height: 462px;
  padding: 0 16px;
  max-height: 100%;
}

.cards.management > ul > li > .cards-card-body > h6,
.cards.management > ul > li > .cards-card-body > h4{ 
  margin: 0;
}

.cards.management > ul > li > .cards-card-body > p{
  margin: 0;
  text-align: start;
}

.cards.cascading > ul > li{
  max-height: 100%;
}

.cards.management > ul > li:nth-child(2){ 
  display: flex;
  flex-direction: column;
}

.cards.management > ul > li > picture > img{
  width: 90.176px;
  height: 100px;
  flex-shrink: 0;
}

.cards.management > ul > li:nth-child(3),
.cards.management > ul > li:nth-child(4),
.cards.management > ul > li:nth-child(5),
.cards.management > ul > li:nth-child(6),
.cards.management > ul > li:nth-child(7){
  border-right: none;
  border-bottom: none;
}

.cards.management > ul > li:nth-child(4) > picture > img,
.cards.management > ul > li:nth-child(5) > picture > img,
.cards.management > ul > li:nth-child(6) > picture > img,
.cards.management > ul > li:nth-child(7) > picture > img{
  width: 50px;
  height: 47.628px;
  flex-shrink: 0;
}

.cards.management > ul > li:nth-child(4){
  bottom: 300px;
  left: 108%;
  position: relative;
  height: 149px;
  width: 328px;
}

.cards.management > ul > li:nth-child(5){
  position: relative;
  width: 136px;
  height: 77px;
  bottom: 100px;
}

.cards.management > ul > li:nth-child(6){
  position: relative;
  height: 77px;
  width: 136px;
  bottom: 100px;
  right: 70%;
  
}

.cards.management > ul > li:nth-child(7){
  position: relative;
  height: 77px;
  width: 136px;
  bottom: 250px;
  left: 163%;
}

/* cascading style */
.cards.cascading > ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  padding: 20px 0 0 16px;
  align-items: flex-end;
  align-self: stretch;
  background: linear-gradient(309deg, #BADDBA 17.21%, #273A25 70.96%);
  height: auto;
}

 /* first card */
.cards.cascading > ul > li:first-child {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  background: transparent;
  border: transparent;
  width: auto;
  height: auto;
  max-height: 377px;
  max-width: 238px;
  margin-top: auto;
}

.cards.cascading > ul > li:first-child > picture {
  width: 100px;
  height: 77.883px;
  flex-shrink: 0;
}

.cards.cascading > ul > li:first-child > .cards-card-body > h4{
  color: var(--white, #FFF);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 176.8px;
  margin: 0;
}

.cards.cascading .cards-card-body {
  margin: 16px;
  position: relative;
  height: auto;
  text-align: left;
}

.cards.cascading > ul > li:first-child > .cards-card-body{
  color: var(--white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

 /* second card */
.cards.cascading > ul > li:nth-child(2) {
  border: transparent;
  display: flex;
  width: auto;
  max-width: 222px;
  height: 409px;
  padding: 16px 16px 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px 12px 0 0;
  background: var(--white);
  margin-top: auto;
}

 /* third card */
.cards.cascading > ul > li:nth-child(3) {
  border: transparent;
  display: flex;
  width: auto;
  max-width: 222px;
  height: 369px;
  padding: 16px 16px 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px 12px 0 0;
  background: var(--white);
  margin-top: auto;
}

 /* fourth card */
.cards.cascading > ul > li:nth-child(4) {
  border: transparent;
  display: flex;
  width: auto;
  max-width: 222px;
  height: 329px;
  padding: 16px 16px 0;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px 12px 0 0;
  background: var(--white);
  margin-top: auto;
}

 /* fifth card */
.cards.cascading > ul > li:nth-child(5) {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 254px;
  height: 289px;
  align-items: center;
  position: relative;
  background-color: var(--white);
  border-radius: 12px 12px 0 0;
  margin-top: auto;
}

.cards.cascading > ul > li:nth-child(2) > picture,
.cards.cascading > ul > li:nth-child(3) > picture,
.cards.cascading > ul > li:nth-child(4) > picture,
.cards.cascading > ul > li:nth-child(5) > picture{
  display: flex;
  width: 100px;
  height: 64.482px;
  flex-shrink: 0;
  padding: 20px 0 19.054px;
  object-fit: cover;
  position: relative;
}

.cards.cascading > ul > li:nth-child(2) > .cards-card-body > h4,
.cards.cascading > ul > li:nth-child(3) > .cards-card-body > h4,
.cards.cascading > ul > li:nth-child(4) > .cards-card-body > h4,
.cards.cascading > ul > li:nth-child(5) > .cards-card-body > h4{
  color: var(--coral-coral-800, #B95A55);
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.cards.cascading > ul > li:nth-child(2) > .cards-card-body,
.cards.cascading > ul > li:nth-child(3) > .cards-card-body,
.cards.cascading > ul > li:nth-child(4) > .cards-card-body,
.cards.cascading > ul > li:nth-child(5) > .cards-card-body{
  align-self: stretch;
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* arrow */
.cards.cascading > ul > li:first-child > .cards-card-body:nth-child(3){
  width: 238px;
  height: 79.475px;
  background-image: url('../../images/arrowdesktop.png');
  background-size: cover; 
  background-position: center;
}

.cards.cascading .cards-card-image {
  line-height: 0;
  width: 100%;
  height: 100%;
  max-width: 454px;
  max-height: 303px;
  position: relative;
}

.cards.cascading .cards-card-body .button-container > a{
  padding: 8px 16px;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white, #FFF);
  border-radius: 4.8px;
  border-color: var(--white);
  background: var(--coral-coral-800, #B95A55);
}

@media (width <= 1113px){
  /* cascading style */
  .cards.cascading > ul {
    display: flex;
    width: auto;
    padding: 24px 16px 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(315deg, #BADDBA 15.79%, #273A25 65.37%);
  }

  /* first card */
  .cards.cascading > ul > li:first-child {
    display: flex;
    padding: 0 16px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    align-self: stretch;
    height: auto;
    width: auto;
    margin-top: auto;
  }

  .cards.cascading > ul > li:first-child > picture {
    width: 100px;
    height: 77.883px;
    flex-shrink: 0;
  }

  .cards.cascading > ul > li:first-child > .cards-card-body > h4{
    color: var(--white, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: auto;
    margin: 0;
  }

  .cards.cascading .cards-card-body {
    margin: 16px;
    position: relative;
  }

  .cards.cascading > ul > li:first-child > .cards-card-body{
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* second card */
  .cards.cascading > ul > li:nth-child(2) {
    border: transparent;
    display: flex;
    height: auto;
    width: auto;
    max-width: 359px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 0 12px 12px 0;
    background: var(--white);
    margin-bottom: 10px;
  }

  /* third card */
  .cards.cascading > ul > li:nth-child(3) {
    border: transparent;
    display: flex;
    height: auto;
    width: auto;
    max-width: 319px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 0 12px 12px 0;
    background: var(--white);
    margin-bottom: 10px;
  }

  /* fourth card */
  .cards.cascading > ul > li:nth-child(4) {
    border: transparent;
    display: flex;
    height: auto;
    width: auto;
    max-width: 279px;
    padding: 16px 16px 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 0 12px 12px 0;
    background: var(--white);
    margin-bottom: 10px;
  }

  /* fifth card */
  .cards.cascading > ul > li:nth-child(5) {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 239px;
    align-items: center;
    position: relative;
    background-color: var(--white);
    border-radius: 0 12px 12px 0;
    margin-bottom: 10px;
  }

  .cards.cascading > ul > li:nth-child(2) > picture,
  .cards.cascading > ul > li:nth-child(3) > picture,
  .cards.cascading > ul > li:nth-child(4) > picture,
  .cards.cascading > ul > li:nth-child(5) > picture{
    display: flex;
    width: 100px;
    height: 64.482px;
    flex-shrink: 0;
    padding: 20px 0 19.054px;
    object-fit: cover;
    position: relative;
  }

  .cards.cascading > ul > li:nth-child(2) > .cards-card-body > h4,
  .cards.cascading > ul > li:nth-child(3) > .cards-card-body > h4,
  .cards.cascading > ul > li:nth-child(4) > .cards-card-body > h4,
  .cards.cascading > ul > li:nth-child(5) > .cards-card-body > h4{
    color: var(--coral-coral-800, #B95A55);
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .cards.cascading > ul > li:nth-child(2) > .cards-card-body,
  .cards.cascading > ul > li:nth-child(3) > .cards-card-body,
  .cards.cascading > ul > li:nth-child(4) > .cards-card-body,
  .cards.cascading > ul > li:nth-child(5) > .cards-card-body{
    align-self: stretch;
    color: var(--black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }

  /* arrow */
  .cards.cascading > ul > li:first-child > .cards-card-body:nth-child(3){
    max-width: 90.661px;
    max-height: 79.47px;
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    background-image: url('../../images/arrowmobile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cards.cascading .cards-card-image {
    line-height: 0;
    width: 100%;
    height: 100%;
    max-width: 454px;
    max-height: 303px;
    position: relative;
  }

  .cards.cascading .cards-card-body .button-container > a{
    padding: 8px 16px;
    gap: 8px;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white, #FFF);
    border-radius: 4.8px;
    border-color: var(--white);
    background: var(--coral-coral-800, #B95A55);
  }

  .cards.cascading > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: none;
    max-width: 454px;
    max-height: 303px;
  }
}

@media (width <= 1113px){
  .cards.management{
    max-width: 343PX;
    height: auto;
    max-height: 1100px;
    padding: 0 16px 24px;
    margin: auto;
  }

  .cards.management > ul {
    display: grid;
    padding-bottom: 8px;
    align-items: center;
    gap: 40px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .cards.management > ul > li {
    width: auto;
    height: auto;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .cards.management > ul> li:not(:last-child) {
    border-bottom: 2px dotted var(--light-green);
    border-right: transparent;
  
  }

  .cards.management .cards-card-body {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  .cards.management .cards-card-image {
    width: 100px;
    height: 86.939px;
    flex-shrink: 0;
  }
  
  .cards.management > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    margin: auto;
    vertical-align: middle;
  }

  .cards.management > ul > li:nth-child(2){
    height: 460px;
  }

  .cards.management > ul > li:nth-child(4),
  .cards.management > ul > li:nth-child(5),
  .cards.management > ul > li:nth-child(6),
  .cards.management > ul > li:nth-child(7){
    border-right: none;
    border-bottom: none;
  }

  .cards.management > ul > li:nth-child(4){
    height: 149px;
    width: 328px;
    bottom: 660px;
    left: 0;
    right: 0;
    position: relative;
  }
  
  .cards.management > ul > li:nth-child(5){
    width: 136px;
    height: 77px;
    bottom: 625px;
    right: 25px;
    position: relative;
  }
  
  .cards.management > ul > li:nth-child(6){
    height: 77px;
    width: 136px;
    bottom: 755px;
    left: 85px;
    position: relative;
  }
  
  .cards.management > ul > li:nth-child(7){
    height: 77px;
    width: 136px;
    bottom: 860px;
    left: 205px;
    position: relative;
  }
}