.section.teaser-container{
    margin-top: 0;
}

.teaser.block{
    width: 1289px;
    height: 454px;
}

.teaser.block > div > div > h2{
    position: relative;
    bottom: 300px; 
    right: 150px; 
    color: #F8F8F8;
    font-size: 24px;
    font-weight: 600;
    line-height: 30.96px;
    font-family: "Open Sans", sans-serif;
    text-align: right;
}

.teaser.block .button-container .button {
    background-color: #5C749A;
    position: relative;
    bottom: 300px; 
    left: 1000px;
    background-position-x: calc(100% - 19px);
    background-position-y: 50%;
    color: #F8F8F8;
    border-color: #7396C8;
    cursor:pointer;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
}

.teaser.block .button-container .button:hover {
    background-color: #5C749A;
    color: #000;
    border-color: #7396C8;
    cursor:pointer;
}
