
.footer-wrapper .footer.block .section:nth-child(1) > div > p:nth-child(1) > picture{
  position: relative;
  align-self: stretch;
  max-width: 100%;
  height: 66px;
  background-size: 100% 66px;
}

.footer-wrapper .footer.block .section:nth-child(2) > div > p:nth-child(2){
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: --footnote-microcopy-font-family, sans-serif;
  font-weight: --footnote-microcopy-it-font-weight;
  color: --black;
  font-size: --footnote-microcopy-it-font-size;
  letter-spacing: 0;
  line-height: 24px;
}

.footer-wrapper .footer.block .section:nth-child(4) > div > p:nth-child(4){
  position: relative;
  align-self: stretch;
  font-family: --footnote-microcopy-font-family, sans-serif;
  font-weight: --footnote-microcopy-it-font-weight;
  color: --black;
  font-size: --footnote-microcopy-it-font-size;
  letter-spacing: 0;
  line-height: 24px;
}

.footer-wrapper .footer.block .section:nth-child(4) a:any-link{
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: --bold-body-font-family, sans-serif;
  font-weight: --bold-body-font-weight;
  color: --green-link;
  font-size: --bold-body-font-size;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px 48px;
  position: relative;
  background-color: --footer-background-color;
}

.mobile-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 0 0 48px;
  position: relative;
  background-color: --footer-background-color;
}

  /* text left section */
.desktop-footer .section:nth-child(2) {
  display: inline-flex;
  align-items: center;
  gap: 72px;
  position: relative;
  flex: 0 0 auto;
}

/* text right section */
.desktop-footer .section:nth-child(4) {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  font-family: --footnote-microcopy-font-family, sans-serif;
  font-weight: --footnote-microcopy-it-font-weight;
  color: --black;
  font-size: --footnote-microcopy-it-font-size;
  letter-spacing: 0;
  line-height: 18px;
}
