.sticky-info .button-container {
    --bs-btn-color: #fff;
    --bs-btn-bg: #B95A55;
    --bs-btn-border-color: #B95A55;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9d4d48;
    --bs-btn-hover-border-color: #944844;
    --bs-btn-focus-shadow-rgb: 196, 115, 111;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #944844;
    --bs-btn-active-border-color: #8b4440;
    --bs-btn-active-shadow: inset 0 3px 5px #00000020;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #B95A55;
    --bs-btn-disabled-border-color: #B95A55;
}

.section.fullwidth.sticky-info-container{
    justify-content: end;
}

.sticky-info{
    bottom: 20vh;
    z-index: 100;
    margin: auto;
}

.sticky-info.block{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: fit-content;
    border-radius: 16px 0 0 16px;
    border-right: 0;
    background-color: transparent;
    right: 0;
}

.sticky-info-picture{
    display: flex;
    object-fit: none;
    margin: 0 auto;
    justify-content: center;
    width: 50px;
    padding-right: 5px;
}

.sticky-info-picture > img{
    display: flex;
    object-fit: cover;
    margin: 0 auto;
    justify-content: center;
}

.sticky-info .button-container .button:hover {
    background-color: var(--bs-btn-active-bg);
}

@media (width >= 992px) {
    .sticky-info {
        justify-content: flex-start;
    }
}

.sticky-info .button-container .button {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: fit-content;
    margin-left: auto;
    padding: 15px 10px 15px 15px;
    border-radius: 16px 0 0 16px;
    border: 5px solid #f0877f;
    border-right: 0;
    box-shadow: 0 3px 10px 0 #0000004D;
    background-color: var(--bs-btn-bg);
    margin: 0;
    height: 102px;
}

.sticky-info .sticky-info-text {
    width: 141px;
    height: 72px;
    line-height: 24px;
    text-align: start;
    white-space: normal;
    font-size: 20px;
    font-weight: 700;
}

@media (width <= 991.9px) {
    .sticky-info.block{
        position: fixed;
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: fit-content;
        border-radius: 16px 0 0 16px;
        border-right: 0;
        background-color: transparent;
        right: 0;
    }
    .sticky-info .sticky-info-link .sticky-info-text{
        display:none
    }
}
